.row-fluid {
  width: 100%;
  *zoom: 1;
}


.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}


.text-center {
    text-align: center;
}

.verticalLine {
    border-left: thick solid black;
}